<html>
<head>
 <title>Table With Bootstrap</title>
 <link rel="stylesheet" href="../library/css/bootstrap.min.css">
</head>
<body>
 <div class="container pt-3">

  <h3>Daftar Nama</h3>
  <a href="" class="btn btn-primary btn-sm mb-3">Add Data</a>

  <table class="table table-striped table-secondary table-sm">
   <thead>
    <tr>
     <th>NO</th>
     <th>KODE</th>
     <th>NAMA LENGKAP</th>
     <th class="text-center">Edit</th>
     <th class="text-center">Delete</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>1</td>
     <td>A001</td>
     <td>Budi Susilo</td>
     <td class="text-center">
      <form method="post" action="">
      <button type="submit" class="btn btn-success btn-sm" name="cmdEDIT">Edit</button>
      </form>
     </td>
     <td class="text-center">
      <form method="post" action="">
      <button type="submit" class="btn btn-danger btn-sm" name="cmdDELETE"
      onclick="return confirm('Anda yakin ingin menghapus data ini?');">Delete</button>
      </form>
     </td>
    </tr>
    <tr>
      <td>2</td>
      <td>A002</td>
      <td>Dewi Purwasih</td>
      <td class="text-center">
       <form method="post" action="">
       <button type="submit" class="btn btn-success btn-sm" name="cmdEDIT">Edit</button>
       </form>
      </td>
      <td class="text-center">
       <form method="post" action="">
       <button type="submit" class="btn btn-danger btn-sm" name="cmdDELETE"
       onclick="return confirm('Anda yakin ingin menghapus data ini?');">Delete</button>
       </form>
      </td>
     </tr>
    </tbody>
  </table>
</div>
<script src="../library/js/jquery-3.6.0.min.js"></script>
<script src="../library/js/bootstrap.min.js"></script>
</body>
</html>